@import "src/styles/abstracts";

$image_dimension: 60px;
.Photo {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: $color-primary;
  padding: $spacing_half;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;

  // @TODO : Create mixin for transitions for consistency
  transition: 300ms border-color linear;
  @include hover {
    border-color: $color-grey-light;
    background-color: #ffffff;
  }

  &__Image {
    width: $image_dimension;
    height: $image_dimension;
    margin-right: $spacing_half;
  }

  &__Caption {
    font-weight: 500;
    font-size: 1.22em;
  }

  &__Action {
    flex: 1;
    text-align: right;

    &-Tick {
    }

    &-Checkbox {
      visibility: hidden;
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
  }
}
